* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

@media screen and (max-width: 800px) {
	body {
			background-color:#48362c;
	}

	aside{
		margin:.1rem;	
		background-image: url("plant_pexels-alexandr-podvalny-7768447.jpg");
		background-position: bottom right;
		background-attachment:scroll; 
		background-repeat: no-repeat;
		background-size: 100%;
	}

	header{
		/*Top right bottom left*/
		padding: 5% 5% 5% 5%;
	}

	nav{
		margin-top:5%;
		width: 200px;
	}

	nav, article, aside{
		display: flex;
		flex-direction: column;
	}

	aside{
		background-color:#639d2c;
		padding: 20% 10% 10% 10%;
		font-size: 4rem;		
	}

	footer {
		display: none;
	}

	a {
		color: white;
		text-decoration: none;
		font-weight: bold;
		border-bottom: 1px white dotted;
	}

	a:hover, a:focus, a:active, a:visited {
		font-weight: bold;	
		border-bottom: 2px white solid;
	}
}

@media screen and (min-width: 800px) {
	body {
			background-color:#48362c;
	}

	header, main, aside {
		background-image: url("plant_pexels-alexandr-podvalny-7768447.jpg");
		background-position: top right;
		background-attachment:fixed; 
		background-repeat: no-repeat;
		background-size: 100%;
	}	

	header{
		/*Top right bottom left*/
		padding: 5% 60% 5% 5%;
		height: 100vh;
	}	

	article {
		height:100vh;
		display: grid;
		grid-template-columns: 30% 30% 7% 30%;
		grid-template-rows: 5% 40% 40%;
		grid-gap: 1rem;
	}
	
	.c11 {
		grid-column: 1 / 4;
  		grid-row: 1;
	}
	.c21 {
		grid-column: 1;
  		grid-row: 2;
	}
	.c22 {
		grid-column: 2;
  		grid-row: 2;
	}
	.c23 {
		grid-column: 2;
  		grid-row: 2;
	}
	.c24 {
		grid-column: 4;
  		grid-row: 2;
	}

	.c31 {
		grid-column: 1;
  		grid-row: 3;
	}

	section {
		border-radius:1rem;
		/*Top right bottom left*/
		padding: 5% 5% 5% 5%;
	}

	nav{
		display: flex;
		flex-direction: row;
	}

	nav{
		position: absolute;
		bottom: 5%;
		justify-content: space-around;
	}

	nav > p {
		margin:0 1rem 0 1rem;
		padding: 1rem 1rem 1rem 1rem;
	}

	nav a {
		color: white;
		text-decoration:none;
	}

	nav a:hover {
		background-color: #76af62;
		color: black;
		border-radius:1rem;
		padding:.75rem;
	}

	nav a:focus {
		background-color: #76af62;
		color: black;
		border-radius:1rem;
		padding:.75rem;
	}

	@keyframes animation {
  		from {
			color: #48362c;
			transform: rotate(0deg);
		}
  		to {
			color: white;
			transform: rotate(-6deg);
		}
	}

	header > p {
		margin-top:2rem;
		animation-name: animation;
  		animation-duration: 4s;
		transform: rotate(-6deg);
	}

	aside{
		background-color:#639d2c;
		padding: 10% 60% 10% 5%;
		font-size: 4rem;		
	}

	footer{
		display: grid;
		grid-template-columns: 30% 30% 30%;
		grid-template-rows: 100%;
		grid-gap: 1rem;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat';
	color:white;
}

header{
	text-align: center;
}

nav{
	background-color:rgba(79, 133, 74, .3);
	text-align: left;
  	border-radius: 1rem;
}

article{
	padding: 1rem 1rem 1rem 1rem;
}

.blue{
	background-color: rgba(58,169,174,.3);
}
.green {
	background-color: rgba(79,133,74,.3);
}
.brown {
	background-color: rgba(164,118,60,.3);
}
.gradientblue{
	background: linear-gradient(to bottom right, rgba(58,169,174,.3), rgba(255,255,255,0));
}
.gradientbrown{
	background: linear-gradient(to bottom right, rgba(164,118,60,.3), rgba(255,255,255,0));
}
.gradientgreen{
	background: linear-gradient(to bottom right, rgba(79,133,74,.3), rgba(255,255,255,0));
}

aside a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px white dotted;
}

aside a:hover, a:focus, a:active, a:visited {
	font-weight: bold;	
	border-bottom: 2px white solid;
}

aside img {
	width: 1.5rem;  
	height: 1.5rem;
	margin-right: 1rem;	
vertical-align: middle;
}

aside p {
	margin-top:1rem;
}

aside p::first-letter{
    font-size: 4rem;
    font-style:normal;
    display: inline-block;
}

p{
	font-size:0.9rem;
	line-height:1.45rem;
	text-align: left;
}

footer{
	margin-top:5%;
	margin-bottom:5%;
	width:100%;
	justify-content: space-around;

}

footer > ul, footer > p {
	list-style-type: none;
	font-size:0.7rem;
	line-height: 1.5rem;
}


footer a {
	color: white;
	text-decoration: none;
}

footer a:hover, a:focus, a:active, a:visited {
	font-weight: bold;	
	border-bottom: 1px white dotted;
}


main h3 + p::first-letter{
    font-size: 24px;
    font-style:normal;
    display: inline-block;
	font-family: 'Baloo Tammudu 2';
}

header > p {
	text-align: justify;
	font-size:1rem;
	line-height:1.45rem;
}

/*Only one per page*/
h1{
	font-family: 'Baloo Tammudu 2';
	/*font-weight: 800 from link in index.html*/
	line-height:1em;
}
/*In article*/
h2{
	padding-top:1rem;
	font-family: 'Baloo Tammudu 2';
	font-size:1.5rem;
	grid-column: 3;
	line-height:1em;
}
/*In section*/
h3{
	font-size:1.15rem;
	padding-bottom: 10px;
}
